# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Temporary files
*.tmp
desktop.ini
.npm/

# Backup files
*.bak
*.backup

# Local configuration
config.local.js
uploads/
